.tag {
  color: var(--desaturated-dark-cyan);
  background-color: hsla(180, 29%, 50%, 0.1);

  border-radius: 5px;

  padding: 8px;
  margin-left: 15px;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--desaturated-dark-cyan);
  color: #fff;
}

