.JobCard {
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;

  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  box-shadow: 0 10px 30px hsla(180, 29%, 50%, 0.3);
  background-color: #fff;
}

.job-info {
  width: 35%;
  display: flex; 
}

.job-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 30px;
}

.card-header {
  color: var(--desaturated-dark-cyan);
  font-size: 0.8rem;
  font-weight: 400;
}

.job-position {
  font-size: 0.8rem;
}

.job-position:hover {
  color: var(--desaturated-dark-cyan);
  cursor: pointer;
}

.job-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-grayish-cyan);
}

.job-tags-container {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.tag {
  color: var(--desaturated-dark-cyan);
  background-color: hsla(180, 29%, 50%, 0.1);

  border-radius: 5px;

  padding: 8px;
  margin-right: 15px;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--desaturated-dark-cyan);
  color: #fff;
}